{% extends 'base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<!-- Page Header-->
    <div class="row gx-4 gx-lg-5">
        {% if "placeholder" in post.featured.image.url %}
        <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg" alt="">
        {% else %}
        <img src="{{ post.featured_image.url }}" alt=""> 
        {% endif %}
        <div class="col-md-10 col-lg-8 col-xl-7 mt-4">
            <div class="post-heading">
                <h1>{{ post.title }}</h1>
                <span class="meta">
                    Posted by
                    {{ post.author }}
                    on {{ post.created_on }}
                    <i class="far fa-thumbs-up mx-1"></i>{{ post.number_of_likes }}
                </span>
            </div>
        </div>
    </div>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.content | safe }}</p>
        </div>
    </div>
</article>
       
{% endblock %}