{% extends 'base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Page Header-->
<div class="row gx-4 gx-lg-5">
    {% if "placeholder" in post.featured.image.url %}
    <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg" alt="">
    {% else %}
    <img src="{{ post.featured_image.url }}" alt=""> 
    {% endif %}
    <div class="col-md-10 col-lg-8 col-xl-7 mt-4">
        <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">
                Posted by
                {{ post.author }}
                on {{ post.created_on }}
            </span>
            {% if user.is_authenticated %}
            <div class="col-md-10 col-lg-8 col-xl-7">
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="" value="{{ post.slug }}" class="btn-like"><i class="fas fa-thumbs-up"></i></button>
                    {% else %}
                    <button type="submit" name="" value="{{ post.slug }}" class="btn-like"><i class="far fa-thumbs-up"></i></button>
                    {%endif%}
                </form>
                {% else %}
                <i class="far fa-thumbs-up"></i>
            {% endif %}
            {{ post.number_of_likes }}
            {% with comments.count as total_comments %}
                <i class="far fa-comments mx-1"></i>{{ total_comments }}
            {% endwith %}
            </div>
        </div>
    </div>
</div>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.content | safe }}</p>
        </div>
    </div>
</article>
<!-- Divider-->
<hr class="my-4" />
<!-- Comments  -->
<section class="mb-4">
    <h3>Comments:</h3>
    <div class="card-body my-5">
        {% for comment in comments %}
        <div class="gx-4 gx-lg-5 p-1 mb-5">
            <p class="font-weight-bold">{{ comment.name }}
                <span class="text-muted font-weight-normal">
                    {{ comment.created_on }}
                </span>
            </p>
            {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting moderation
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h4>Leave a comment:</h4>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" class="mt-3">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}